.footer {
    background-color: silver;
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

body {
    
    background-color: lemonchiffon;
    
}


.rImage {
    max-width: 450px;
    height: auto;
}

.centerContent {
    display: flex;
    justify-content: center;
}

.margin {
    margin-top: 100pt;
}

.whiteBox {

    background-color: white;
    border-radius: 10px;
}

.biggerText {
    font-size: 20pt;
    
}